<template>
  <b-tabs position="is-left" class="mt-5 ml-5 block">
    <b-tabs-item> 
        <h2 class="title is-h2 mt-5">Video Explicativo</h2>
        <iframe class="image" src="https://drive.google.com/file/d/1aQMXTkViS27Y5ray03wjzT6LHxt4lM0A/preview"  height="480"></iframe>
    </b-tabs-item>
    <b-tab-item label="Aprendizaje">
      <a
        class="link"
        v-for="imageLink of imagesLink"
        :href="imageLink.link"
        :key="imageLink.title"
        target="_blank"
      >
        <h2 class="title is-h2 mt-5">{{ imageLink.title }}</h2>
        <b-image
          class="image"
          :alt="imageLink.title"
          ratio="5by2"
          :src="imageLink.image"
        >
        </b-image>
      </a>
    </b-tab-item>
    <b-tab-item label="Formulario">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSem_YZE9kw5xUSu3eAHkk9s-NSUlaE_hzWpX3DziaNET11KAw/viewform?embedded=true"
        width="640"
        height="2258"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >

      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSeKzUqCKV4HzC_mQulpYimW4y-oZL7X0dBB_uAR9aYoNB5sfQ/viewform?embedded=true"
        width="640"
        height="1945"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >

      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdqZ2HX1E7jRWPiFvMtYhluK4kiTGtVYlFXGlIowwDzOakjYA/viewform?embedded=true"
        width="640"
        height="2968"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >

      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSd_L2sYeQa_mbSyA0JnnJNKrP-WS2_gAVdiPXWx1HCOhH8djg/viewform?embedded=true"
        width="640"
        height="2514"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >
    </b-tab-item>
  </b-tabs>
</template>

<script>
import { ImageLink } from '../../helpers/models.js';

const _imagesLink = [
  new ImageLink(
    'Dispositivos de Comunicación',
    '/static/information/Comunicacion.png',
    'https://drive.google.com/file/d/1R_1bxTv3mXPXpQwuXaOghWRITPyEwEq4/view?usp=sharing'
  ),
  new ImageLink(
    'Importancia de las TICS',
    '/static/information/Tics.png',
    'https://drive.google.com/file/d/1VRr5kfvZAVhAaxUz_eVkgsDWcDiwe6rt/view?usp=sharing'
  ),

  new ImageLink(
    'Inteligencia Artificial',
    '/static/information/Artificial.png',
    'https://drive.google.com/file/d/1lIVNW8_3lLstnNEzes2yyXz2O_9Fcdoj/view?usp=sharing'
  ),
  new ImageLink(
    'Telecomunicaciones',
    '/static/information/Telecomunicaciones.png',
    'https://drive.google.com/file/d/15wqBgZcAwXuNHRxX9wiNEB7dqPqlXZvp/view?usp=sharing'
  ),

];

export default {
  name: 'Information',
  data: () => ({
    imagesLink: _imagesLink,
  }),
  methods: {
    getImgUrl(pic) {
      return require(pic);
    },
  },
};
</script>

<style lang="scss" scoped>
.link {
  cursor: pointer;
}
.image {
  width: 80%;
  margin: auto;
}
</style>
