<template>
  <div class="container" id="app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
  components: {},
};
</script>

<style lang="scss" src="./App.scss"></style>
